*{
    margin: 0;
    padding: 0;
    font-family: "roboto";
}
.homes{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home{
    background-color: rgba(255, 159, 218, 0.76);
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: baseline;
    align-items:center;
    width: 500px;
    height: 200px;
    padding: 10px 15px;
    box-shadow: 0px 0px 7px black;
    border-radius: 6px;
    
}
.home .btn{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    gap: 10px;
}
.home h1{
    font-size: 30px;
    font-weight: 450;

}

.home form input{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 4px;
    padding: 7px 13px;
    width: 450px;
    font-size: 25px;
}
.home #Generate{
    background-color: black;
    color: white;
    padding: 9px 14px;
    font-size: 17px;
    width: 100px;
    border: none;
    border-radius: 5px;
}
.home #Generate:hover{
    background-color: rgb(46, 154, 79);
    
}
.homes .home form {
    display: flex;
}
.homes .home form #copy{
    background-color: transparent;
    border: none;
}
.homes .home form button .bx-copy{
    font-size: 30px;
    position: relative;
    right: 45px;
}
.homes .home form button .bx-copy:hover{
    color: gray;
    cursor: pointer;
}

#message {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 1000;
    transition: opacity 0.5s ease;
  }
  
#message.hidden {
    opacity: 0;
  }

@media only screen and (max-width:545px){
    .home{
        width: 340px;
        height: 200px; 
    }
    .home h1{
        font-size: 20px;

    }
    .home form input{
        width: 300px;
        font-size: 20px;
    }

}

@media only screen and (max-width:388px){
    .home{
        width: 300px;
        height: 200px;
        
    }
    .home h1{
        font-size: 20px;
        font-weight: 450;
    }
    .home form input{
        width: 260px;
        font-size: 20px;
    }

}
@media only screen and (max-width:348px){
    .home{
        width: 260px;
        height: 200px;
        
    }
    .home h1{
        font-size: 20px;
        font-weight: 450;
    }
    .home form input{
        width: 210px;
        font-size: 20px;
    }

}